{% extends 'base.html' %}
{% load static %}

{% block title %}
    page_obj
{% endblock %}

{% block content %}

    <a href="{% url 'tasks:delete-past' %}" class="me-2">
        <button type="button" class="btn btn-danger mt-3">Delete Past Tasks</button>
    </a>
    <a href="{% url 'tasks:delete-done' %}" class="ms-2">
        <button type="button" class="btn btn-danger mt-3">Delete Done Tasks</button>
    </a>

    <ul class="list-group mt-3 mb-3">
        {% for task in page_obj %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{ task.title }}</div>
                {{ task.description }}
            </div>
            {% if not task.is_done %}
                <a href="{% url 'tasks:mark-done' pk=task.id %}">
                    <button class="badge bg-danger">Mark as Done</button>
                </a>
                <a href="{% url 'tasks:edit' pk=task.id %}">
                    <button class="badge bg-danger">Edit</button>
                </a>
            {% endif %}
            {% if today >= task.date or task.is_done %}
                <a href="{% url 'tasks:delete' pk=task.id %}">
                    <button class="badge bg-danger">Delete</button>
                </a>
            {% endif %}
            <a>
                <button class="badge bg-danger">{{ task.date }}</button>
            </a>
        {% empty %}
            <h3>You have no tasks</h3>
        {% endfor %}
    </ul>

    <nav aria-label="Page navigation example mt-5 mb-5">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="Previous">
                        <button class="badge bg-danger">First</button>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <button class="badge bg-danger">&laquo;</button>
                    </a>
                </li>
            {% endif %}

            <li class="page-item">
                <a class="page-link ">
                    <button class="badge bg-danger">
                        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                    </button>
                </a>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <button class="badge bg-danger">&raquo;</button>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        <button class="badge bg-danger">Last</button>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
